footer{
  max-width: 1920px;
  margin: 0 auto;
  .waves-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .waves{
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      margin-bottom: 60px;
    }
  }
  .form-head{
    margin-bottom: 6px;
  }
  form{
    display: flex;
    flex-direction: column;
    gap: 6px;
    input{
      background-color: transparent;
      outline: none;
      border: none;
      border-bottom: 2px solid white;
      color: white;
      &::placeholder{
        color: lightgray;
      }
    }
    .btns{
      display: flex;
      justify-content: space-between;
      .btn{
        width: fit-content;
        background-color: transparent;
        outline: none;
        border: 2px solid white;
        padding: 0.4rem;
        color: white;
        font-weight: 700;
        font-size: 0.8rem;
        cursor: pointer;
        &:disabled{
          background-color: gray;
          color: lightgray;
        }
      }
      .icon{
        height: 60px;
        cursor: pointer;
        border: 2px solid white;
      }
    }

  }
}

@media  (min-width:900px) {
  footer{
    .waves-wrapper{
      .waves{
        width: 60%;
        margin-top: -10px;
      }
    }
    form{
      input{
      }
      .btns{
        .btn{
        }
        .icon{
        }
      }
  
    }
  }
}


/*
footer{

  


  .mailing{
    display: flex;
    justify-content: space-between;
    height: 64px;
    border: 2px solid white;
    .mailing-txt{
      width: 100%;
      .msg{
        display: flex;
        align-items: center;
        width: 100%;
        border-bottom: 2px solid white;
        height: 30px;
        padding-left: 16px;
      }
      .input{
        display: flex;
        align-items: center;
        height: 28px;
        padding-left: 16px;
        background-color: transparent;
        border: none;
        outline: none;
        color: white;
        &::placeholder{
          color: rgb(192, 185, 185);
        }
      }
    }
    .actions{
      display: flex;
      .btn{
        width: 62px;
        height: 60px;
        outline: none;
        border: none;
        border-right: 2px solid white;
        border-left: 2px solid white;
        background-color: transparent;
        cursor: pointer;
        color: white;
        font-weight: 900;
        &:disabled{
          background-color: gray;
          color: gainsboro;
          cursor: default;
        }
      }
      .insta{
        height: 100%;
        img{
          width: 62px;
          height: 60px;
          cursor: pointer;
        }
      }
    }
  }
}

@media  (min-width:1201px) {
  footer{
    .mailing{
      height: 84px;
      .mailing-txt{
        .msg{
          height: 40px;
        }
        .input{
          height: 40px;
        }
      }
      .actions{
        display: flex;
        .btn{
          width: 82px;
          height: 80px;
          outline: none;
          border: none;
          border-right: 2px solid white;
          border-left: 2px solid white;
          background-color: transparent;
          cursor: pointer;
          color: white;
          font-weight: 900;
          &:disabled{
            background-color: gray;
            color: gainsboro;
            cursor: default;
          }
        }
        .insta{
          height: 100%;
          img{
            width: 82px;
            height: 80px;
            cursor: pointer;
          }
        }
      }
   
    }

  }
}

.err{
  font-weight: 700;
  color: rgb(194, 29, 0);
  }
  .ok{
  font-weight: 700;
  color: green;
  }

/*
footer{


  table {
    padding: 0 1rem;
    padding: 1rem;
    width: 100%;
    border-collapse: collapse; 
    th, td {
      border: 2px solid #fff; 
      padding: 8px;
      text-align: left;
      }
    .td3{
      width: 100px;
      padding: 0;
        .icon{
          padding: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
      }
    .wrapper{
      width: 100%;
      background-color: red;
    }
    }
    .submit{
      width: 80px;
      
      button{
        cursor: pointer;
        color: white;
        font-weight: 700;
        width: 100%;
        border: none;
        background-color: transparent;
        &:disabled{
          color: gray;
        }
      }
    }
    form{
      width: 100%;
      background-color: transparent;
      input{
        color: white;
        width: 100%;
        background-color: transparent;
        border: none;
        outline: none;
      }
    }
  }
}








    table {
      th, td {
        border: 2px solid #fff; 
        padding: 8px; 
        text-align: left; 
        }
      .td3{
        width: 120px;
        .icon{
          width: 100%;
          cursor: pointer;

        }
      }
      .submit{
        width: 200px;
        
        button{
          cursor: pointer;
          color: white;
          font-weight: 700;
          font-size: 2vw;
          width: 100%;
          border: none;
          background-color: transparent;
          &:disabled{
            color: gray;
          }
        }
      }
      form{
        width: 100%;
        background-color: transparent;
        input{
          color: white;
          width: 100%;
          background-color: transparent;
          border: none;
          outline: none;
        }
      }
    }
}
}


*/