<footer>

<div class="info">
  <div class="waves-wrapper" >
    <p>SEE YOU ON DJERBA ISLAND</p>
    <ng-lottie
    class="waves"
      [options]="wavesOptions"
    />  
  </div>
    <p class="form-head title">Stay Updated! Join Our Mailling List ..</p>
    <form [formGroup]="registerForm">
      <input class="text" id="name" formControlName="name" type="text" placeholder="Name" autocomplete="off" >
      <input class="text" id="email" formControlName="email" type="email" placeholder="Email*" autocomplete="off" >
      <div class="btns">
        <button class="btn hover-target" [disabled]="registerForm.invalid" (click)="onSubmit()">JOIN</button>
        <a href="https://www.instagram.com/association_of_unison/?hl=en" target="_blank" >
          <img class="icon" src="images/insta.jpg"  alt="" class="icon hover-target">
      </a>
      </div> 
    </form>
    <p *ngIf="msg" class="msg text" >{{message}}</p>
</div>

</footer>

<!--
  

  <div class="mailing">
    <div class="mailing-txt">
      <div class="msg">
        <p *ngIf="!er" class="text">Stay updated!</p>
        <p *ngIf="er" class="message text" [ngClass]="{err:er,ok:!er && message!==''}">{{message}}</p>
      </div>
      <form [formGroup]="registerForm">
        <input class="input text" id="email" formControlName="email" type="email" placeholder="Email Address" autocomplete="off" >
      </form>
    </div>
    <div class="actions">
      <button class="btn hover-target" [disabled]="registerForm.invalid" (click)="onSubmit()">
        JOIN
      </button>
      <div class="insta">
     
      </div>
    </div>
  </div>






<footer class="grid-container ">

     
    <table >
      <tr>
        <td colspan="3" class="wrapper">
         <p *ngIf="!er" class="text">stay updated!</p>
         <p *ngIf="er" class="message" [ngClass]="{err:er,ok:!er && message!==''}">{{message}}</p>
        <td rowspan="2" class="td3">
          <img src="images/insta.jpg" alt="" class="icon">
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <form [formGroup]="registerForm">
            <input class="text" id="email" formControlName="email" type="email" placeholder="Email Address" autocomplete="off" >
          </form>
        </td>
        <td class="submit" >  <button class="hover-target" type="submit" [disabled]="registerForm.invalid" (click)="onSubmit()">SUBMIT</button></td>
      </tr>
    </table>
  </footer>
  


-->