<app-header></app-header>
<div id="home" [style.backgroundColor]="color">
    <div *ngIf="!isMobile"  class="circle" [ngStyle]="circleStyle" >
        <span class="circle-text">{{ text }}</span>
    </div>
    <app-hero></app-hero>
    <app-music></app-music>
    <app-experience></app-experience>
    <app-fashion></app-fashion>
    <app-work></app-work>
    <app-tickets></app-tickets>
    <app-footer></app-footer>
    <svg xmlns="http://www.w3.org/2000/svg"  class="top" viewBox="0 0 16 16" (click)="goTop()">
        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
      </svg>

</div>