$diameter:30px;
$padding:6px;

header{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: calc($diameter +  $padding * 2);
    padding:$padding;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 5;
    .circle{
        width: $diameter;
        height: $diameter;
        border-radius: calc($diameter / 2);
        -webkit-transition: all 500ms ease-in-out;
        -o-transition: all 500ms ease-in-out;
        transition: all 500ms ease-in-out;
        cursor: pointer;
    }
    .logo{
        .ticket{
            fill: #fff;
            width: $diameter;
            padding: 4px;
            pointer-events: none;
        }
    }
    .menu{
        z-index: 5;
        .bars{
            width: $diameter;
            pointer-events: none;
            .line{
                fill: none;
                stroke: #fff;
                stroke-width: 8;
                stroke-linecap: square;
                -webkit-transition: stroke-dasharray 400ms,  stroke-dashoffset 400ms;
                -o-transition: stroke-dasharray 400ms,  stroke-dashoffset 400ms;
                transition: stroke-dasharray 400ms,  stroke-dashoffset 400ms;
            }
            .top{
                stroke-dasharray: 40 172;
            }
            .middle {
                stroke-dasharray: 40 111;
            }
            .bottom {
                stroke-dasharray: 40 172;
            }
            &.active .top {
                stroke-dashoffset: -132px;
    
            }
            &.active .middle {
                stroke-dashoffset: -71px;
            }
            &.active .bottom {
                stroke-dashoffset: -132px;
                
            }
        }
    }
    .nav{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100vh;
        -webkit-clip-path: circle(calc($diameter / 2) at calc(100% - calc($diameter / 2 + $padding)) calc($diameter / 2 + $padding));
                clip-path: circle(calc($diameter / 2) at calc(100% - calc($diameter / 2 + $padding)) calc($diameter / 2 + $padding));
        -webkit-transition: all 400ms ease-in-out;
        -o-transition: all 400ms ease-in-out;
        transition: all 400ms ease-in-out;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        padding: 16px;
        .item{
            font-weight: 700;
            font-size: 36px;
            cursor: pointer;
            -webkit-transition: color 400ms ease;
            -o-transition: color 400ms ease;
            transition: color 400ms ease;
            &:hover{
               color: #000;
            }
        }
    }
    .open{
        -webkit-clip-path: circle(75%);
                clip-path: circle(75%);
    }
    .black{
        background: #000 !important;
    }
}





@media  (min-width:1201px) {
    $diameter:36px;
    $padding:16px;
    header{
        height: calc($diameter +  $padding * 2);
        padding:$padding;
        .circle{
            width: $diameter;
            height: $diameter;
            border-radius: calc($diameter / 2);

        }
        .logo{
            .ticket{
                width: $diameter;
                padding: 6px;
            }
        }
        .menu{
            .bars{
                width: $diameter;
                .line{
                    stroke-width: 8;
                }
                .top{
                    stroke-dasharray: 40 172;
                }
                .middle {
                    stroke-dasharray: 40 111;
                }
                .bottom {
                    stroke-dasharray: 40 172;
                }
                &.active .top {
                    stroke-dashoffset: -132px;
        
                }
                &.active .middle {
                    stroke-dashoffset: -71px;
                }
                &.active .bottom {
                    stroke-dashoffset: -132px;
                    
                }
            }
            
        }
        .nav{
            -webkit-clip-path: circle(calc($diameter / 2) at calc(100% - calc($diameter / 2 + $padding)) calc($diameter / 2 + $padding));
                    clip-path: circle(calc($diameter / 2) at calc(100% - calc($diameter / 2 + $padding)) calc($diameter / 2 + $padding));
            padding: $padding;
            .item{
                font-weight: 700;
                font-size: 4vw;
            }
        }
        .open{
            -webkit-clip-path: circle(75%);
                    clip-path: circle(75%);
        }
    }
}



@media  (min-width:1920px) {
    $diameter:66px;
    $padding:20px;
    header{
        height: calc($diameter +  $padding * 2);
        padding:$padding;
        .circle{
            width: $diameter;
            height: $diameter;
            border-radius: calc($diameter / 2);

        }
        .logo{
            .ticket{
                width: $diameter;
                padding: 10px;
            }
        }
        .menu{
            .bars{
                width: $diameter;
                .line{
                    stroke-width: 8;
                }
                .top{
                    stroke-dasharray: 40 172;
                }
                .middle {
                    stroke-dasharray: 40 111;
                }
                .bottom {
                    stroke-dasharray: 40 172;
                }
                &.active .top {
                    stroke-dashoffset: -132px;
        
                }
                &.active .middle {
                    stroke-dashoffset: -71px;
                }
                &.active .bottom {
                    stroke-dashoffset: -132px;
                    
                }
            }
            
        }
        .nav{
            -webkit-clip-path: circle(calc($diameter / 2) at calc(100% - calc($diameter / 2 + $padding)) calc($diameter / 2 + $padding));
                    clip-path: circle(calc($diameter / 2) at calc(100% - calc($diameter / 2 + $padding)) calc($diameter / 2 + $padding));
            padding: $padding;
            .item{
                font-weight: 700;
                font-size: 4vw;
            }
        }
        .open{
            -webkit-clip-path: circle(75%);
                    clip-path: circle(75%);
        }
    }
}