<section id="hero">
    <div class="back">
        <div class="ornament-container">
            <img src="images/decors/ornament.png" alt="ornament image" > 
            <div  class="reset">
                <ng-lottie
                [options]="resetHeroOptions"
                 />     
                <img src="images/date.png" alt="" class="date">  
            </div> 
        </div>     
        <div class="promo hover-target" id="hero-img">
            <div class="watch" >
                <svg xmlns="http://www.w3.org/2000/svg" class="play" viewBox="0 0 10 12"   data-aos="fade-right">
                    <path d="M0 0 L10 6 L0 12 Z"/>
                </svg>
                <p *ngIf="!isPlaying" data-aos="fade-right">WATCH</p>
                <p   data-aos="fade-right"   data-aos-delay="300">PROMO</p>
            </div>   
            <img src="images/sections/promo.png" alt="promo image" class="hover-target" >
        </div>
        
    </div>
    <div class="info" >
        <div class="mission" data-aos="fade-up">
            <div class="mission-header" >
                <img src="images/decors/mission.svg" class="mission-decor1" alt="decoration image">
                <p class="head">OUR MISSION</p>
                <img src="images/decors/mission.svg" class="mission-decor2" alt="decoration image">
            </div>
            <p class="moto text">
                “When the rhythm and the melody align, a truth emerges that words cannot capture.” <b>Rumi</b>
                <br/><br/><br/>
            </p>
            <p class="text" > 
                At RE:SET, we invite you to step into a week-long immersive odyssey - a space where the familiar fades, intuition sharpens, and surrealism, novelty, and joy take the lead. Through curiosity, wonder, and play, you awaken the courageous spirit buried beneath daily life.<br/><br/>
                In a world that feels detached and rigid, we create a sanctuary where creativity thrives and self-expression is celebrated. When rhythm - the pulse, the heartbeat, the people - moves in harmony with melody - the energy, the atmosphere, the unspoken language of the space - truth emerges.<br/><br/>
                When you feel both supported and free, at ease yet inspired, you step into the fullness of who you were always meant to be. You RESET.<br/><br/>
            </p >
            <img  src="images/decors/stripe.svg" alt="mission decoration" >
        </div>
    </div>
</section>