#hero{
    .ornament-container {
        width: auto;
        max-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center; 
        position: relative;
        z-index: -1;
        .reset{
            position: absolute;
            width: 56vw; 
            margin-top: -4%;
            height: auto;   
        }
    }
    .promo{
        margin-top: -10vw;
        cursor: none;
    }
    .info{
        background-color: #557376;
        .mission{
            .mission-header{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 24px;
                gap: 6px;
                .head{
                    font-size: 20px;
                    font-weight: 700;
                }
                .mission-decor1{
                    width:   20px;
                    transform: rotate(180deg);
                }
                .mission-decor2{
                    width:   20px;
                }
            }
        }
    }
}