#tickets{
    max-width: 1920px;
    margin: 0 auto;
    .info{
        display: flex;
        flex-direction: column;
        align-items: center;
        .tickets-wrapper{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            justify-content: center;
            cursor: pointer;
            width: fit-content;
            margin-bottom: 32px;
            .head{
                text-align: center;
                font-size: 48px;
                font-weight: 700;
            }
            .decor1{
                width: 260px;
                -webkit-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                        transform: rotate(180deg);
            }
            .decor2{
                width: 260px;
            }
            
        }
    }
 
    .body{
        margin: 16px 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 24px;
    }
}


@media  (min-width: 601px){
    #tickets{
        .body{
            margin: 16px 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            gap: 2rem;
            .body-title{
                font-size: 16;
                font-weight: 700;
                margin-bottom: 4px;
            }
        }
    }
}

@media  (min-width: 901px){
    #tickets{
        .tickets-wrapper{
            margin-bottom: 6vw;
            .head{
                font-size:100px;

            }
            .decor{
                width: 20vw;
            }
        }
    }
}


@media  (min-width:1201px) {
  #tickets{
    max-width: 1920px;
    margin: 0 auto;
    .info{
        display: flex;
        flex-direction: column;
        align-items: center;
        .tickets-wrapper{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            justify-content: center;
            cursor: pointer;
            width: fit-content;
            margin-bottom: 80px;
            .head{
                text-align: center;
                font-size: 60px;
                font-weight: 700;
            }
            .decor1{
                width: 320px;
                -webkit-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                        transform: rotate(180deg);
            }
            .decor2{
              width: 320px;
            }
            
        }
    }
}


}

