<section id="tickets">
    <div class="info">
        <div class="tickets-wrapper" data-aos="fade-up">
            <img src="images/decors/tickets.svg" alt="" class="decor1">
            <p class="head" routerLink="/tickets">
                TICKETS
            </p>
            <img src="images/decors/tickets.svg" alt="" class="decor2">
        </div>
        <div class="body">
            <div data-aos="fade-up">
                <p class="title">AWARENESS</p>
                <p class="text">At RE:SET, we believe that true transformation begins with awareness. Our festival is a sanctuary for mindful exploration, where each beat and rhythm serves as a catalyst for heightened consciousness. We create spaces that encourage self-reflection, emotional intelligence, and spiritual growth. Through workshops, guided meditations, and immersive art installations, we invite you to dive deep into your inner landscapes. This journey of self-discovery extends beyond personal boundaries, fostering a collective awareness of our interconnectedness with each other and the environment. By nurturing this heightened state of presence, we empower our community to carry these insights back into your daily lives, creating ripples of positive change.
                </p>
            </div>
            <div data-aos="fade-up">
                <p class="title">SUSTAINABILITY</p>
                <p class="text">RE:SET is committed to reimagining the festival experience through the lens of sustainability. We view our gathering as an opportunity to showcase innovative eco-friendly practices and inspire long-lasting change. We source as much locally as possible and involve the Djerban community where possible. Collaborating with the local communities to ensure our presence benefits the island’s ecosystem and economy is our aim. Our ‘Leave No Trace’ policy goes beyond merely cleaning up; we aim to leave Djerba better than we found it. Our vision is to create educational programs and emphasis hands-on conservation activities, we equip our attendees with practical skills and knowledge to become ambassadors for sustainability in their own communities, ensuring that the positive impact of RE:SET continues long after the last track fades.
                </p>
            </div>
        </div>
    </div>
</section>