<section id="work">
    <div class="video-wrapper" data-aos="fade-up">
        <img src="images/sections/music.png" alt="image" id="work-img">
        <img src="images/decors/works.svg" alt="image" class="decor">
    </div>
    <div class="info" data-aos="fade-up">
        <p class="title">Beyond the Dancefloor: Explore, Create, Connect</p>
        <p class="text">
            At RE:SET, we invite you to step beyond the music and into a world of creativity, self-discovery, and connection. Join talented facilitators - visionaries, curators, catalysts, and enablers - for interactive workshops that invite you to learn, explore, and collaborate.<br/><br/>
            Breathe deeply in yoga and mindfulness sessions that center you in the present moment. Unleash your creativity through painting, crafting, and shaping your ideas into reality. Discover the art of communication, consent, and intimacy in spaces designed to celebrate self-expression.<br/><br/>
            Dive into sensory journeys, immersive experiences, and activities that blur the line between reality and imagination. It’s an invitation to expand, feel, and transform.

        </p>
    </div>
</section>
