#work{
    max-width: 1920px;
    margin: 0 auto;
    .video-wrapper{
        position: relative;
        margin-bottom: 6%;
        .decor{
            position: absolute;
            width: auto;
            height: 24%;
            top: -12%;
            left: 80px;
        }
    }
}

@media  (min-width:600px) {
    #work{
        background-color: transparent;
    }
}

