#works{
    background-color: #557376;
    .video-wrapper{
        position: relative;
        .decor{
            position: absolute;
            width: auto;
            height: 28%;
            top: -14%;
            left: 40px;
        }
    }
}
