#work{
    .video-wrapper{
        position: relative;
        .decor{
            position: absolute;
            width: auto;
            height: 28%;
            top: -14%;
            left: 40px;
        }
    }
}

@media  (min-width:600px) {
    #work{
        background-color: transparent;
    }
}
