<section id="fashion">
    <div class="video-wrapper" data-aos="fade-up">
        <img src="images/sections/fashion.png" alt="fashion image" id="fashion-img" class="hover-target">
        <img src="images/decors/fashion.svg" alt="fashion image" class="decor">
    </div>
    <div class="info" data-aos="fade-up">
        <p class="title" >Wear Your Soul: The Art of Festival Fashion</p>
        <div class="fashion-images">
            <app-slider [images]="images"></app-slider>
        </div>
        <p class="text">At RE:SET, we celebrate not only the power of music but the vibrant beauty of all forms of art — fashion being at the very core of our experience. </p>
        <br/>
        <p class="text" >Fashion is a powerful medium for self-expression, allowing you to connect with your essence and the energy of the festival. It’s not just about what you wear, but how you feel within it. Each piece tells its own unique story, blending Tunisian craftsmanship with international upcycled artistry, creating a reflection of individuality, freedom, and creativity. </p>
        <br/>
        <p class="text" >Rooted in sustainability and culture, fashion at RE:SET is more than just attire; it becomes an extension of your soul, woven into the symphony of sound, movement, and art that surrounds you. It’s a transformative journey — where your fashion invites you to be bold, be creative, and unapologetically yourself. Step into this world and allow your soul to shine through every thread.</p>
     
         <div class="partners">
            <p class="title" data-aos="fade-up">OUR PARTNERS</p>
            <div class="links">
                <a href="https://www.instagram.com/salahbarka/?hl=en" target="_blank" data-aos="fade-up" >
                     <img class="icon" src="images/partners/f1.png" class="link-target">
                </a>
                <a href="https://www.instagram.com/lenavoutta/?hl=en" target="_blank" data-aos="fade-up" data-aos-duration="1000" >
                     <img  class="icon"src="images/partners/f2.png" alt="" class="link-target">
                </a>
                <a href="https://www.instagram.com/houseofmarmol/?hl=en" target="_blank" data-aos="fade-up" data-aos-duration="2000" >
                    <img  class="icon" src="images/partners/f3.png" alt="" class="link-target">
                </a>
                <a href="https://www.instagram.com/vainver_official/" target="_blank" data-aos="fade-up" data-aos-duration="3000" >
                    <img class="icon" src="images/partners/f4.png" alt="" class="link-target">
                </a>
            </div>
            <p class="more" data-aos="fade-right"  data-aos-duration="4000">
                ..AND MANY MORE
            </p>
        </div>
    </div>
</section>
