#fashion{
    .video-wrapper{
        position: relative;
        margin-bottom: 6%;
        .decor{
            position: absolute;
            width: 30%;
            height: 36%;
            bottom: -18%;
            right: 0;
        }
    }
    .info{
        .fashion-images{
            width: 40%;
            max-width: 200px;
            float: right;
            margin-left: 16px;
        }
        .partners{
            margin-top: 32px;
            .links{
                display: -ms-grid;
                display: grid;
                -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;  
                gap: 10px;
                a{
                    img{
                        padding: 4px;
                        cursor:pointer;
                    }
                    &:nth-child(3){
                        padding: 12px; 
                    }
                }
            }
            .more{
                text-align: right;
                font-size: 8px;
                font-style: italic;
                margin-top: 1vw;
                margin-bottom: 6%;
            }
        }
    }
}

@media  (min-width:901px) {
    #fashion{
        .info{
            .fashion-images{
                width: 40%;
                max-width: 320px;
                margin-left: 48px;
            }
            .partners{
                margin-top: 32px;
                .links{
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                            justify-content: space-between;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    gap: 36px;
                    a{
                        text-decoration: none;
                        color: white;
                        cursor: none;
                        font-size: 12px;
                        font-weight: 700;
                        margin: 0 6px;
                    }
                }
                .more{
    
                    font-size: 18px;

                }
            }
        }
    }
}

@media  (min-width:1201px) {
    #fashion{
        width: 1200px;
        margin: 0 auto;
    }
}