#intro{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .video{
        height: 100vh;
        width:  100%;
        -o-object-fit: cover;
           object-fit: cover;
    }
    .bg{
        position: absolute;
        background-image: url('../../../../public/images/decors/bg.png'); 
        background-repeat: repeat; 
        width: 100%;
        height: 100%;
    }
    .reset{
        position: absolute;
        left: 50%;
        top: 50%;
        width: 50%;
        min-width: 400px;
        -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);     
    }
    .sound{
        position: absolute;
        left: 0;
        top: 0;
        background-color: red;
        cursor: pointer;
        z-index: 3;
    }
}