#music{
    max-width: 1920px;
    margin: 0 auto;
    .video-wrapper{
        position: relative;
        margin-bottom: 6%;
        .decor{
            position: absolute;
            width: auto;
            height: 32%;
            bottom: -16%;
            right: 10%;
        }
    }
    .info{
        .container{
            margin: 32px 0;
            .image{
                width: 40%;
                shape-outside: circle(50%);
                float: left;
                margin-right: 24px;
            }
            .text{
                min-height: 36vw;
                margin-bottom: 32px;
            }
        }
        .line-up{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            .lineup-head{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                width: 40%;
                .lineup-text{
                    font-size: 18px;
                    font-weight:700;
                    margin: 4px 0;
                  
                }
                .decor1{
                    width: 70px;
                    -webkit-transform: rotate(180deg);
                        -ms-transform: rotate(180deg);
                            transform: rotate(180deg);
                }
                .decor2{
                    width: 70px;
                }
            }
            .djs{
                font-weight: 500;
                text-transform: uppercase;
                width: 50vw;
                line-height: 1.2rem;
            }
        }
        .partners{
            margin-top: 32px;
            .links{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                gap: 36px;
                a{
                    img{
                        padding: 10px;
                        cursor: pointer;
                    }
                }
            }
            .more{
                text-align: right;
                font-size: 8px;
                font-style: italic;
                margin-top: 1vw;
                margin-bottom: 6%;
            }
        }
    }
}

@media  (min-width:601px) {
    #music{
        .info{
            .partners{
                .links{
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                            justify-content: space-between;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    gap: 36px;
                    a{
                        text-decoration: none;
                        color: white;
                        cursor: none;
                        font-size: 12px;
                        font-weight: 700;
                        margin: 0 6px;
                    }
                }
                .more{
                    font-size: 18px;
                }
            }
        }
    }
}

@media  (min-width:769px) {
    #music{
        .info{
            .container{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 32px;
                .image{
                   width: 260px;
                   margin-right: 0;
                }
                .text{
                    display: flex;
                    align-items: center;
                    margin-bottom: 0;
                    min-height: fit-content
                }
            }
            .line-up{
                display: flex;
                flex-direction: column;
                margin-bottom: 50px;
                .lineup-head{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    margin-bottom: 30px;
                    .lineup-text{
                        font-size: 30px;
                    }
                    .decor1{
                        width: 140px;
                    }
                    .decor2{
                        width: 140px;
                    }
                }
                .djs{
                    width: 100%;
                    line-height: 1.6rem;
                    font-size: 1.2rem;
                    .more{
                        display: inline-block;
                        width: 100%;
                        text-align: right;
                        font-size: 0.8rem;
                        font-weight: 400;
                    }
                }
            }
            .partners{
                margin-top: 32px;
                .links{
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                            justify-content: space-between;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    gap: 100px;
                    a{
                        .icon{
                            padding: 0;
                            width: 100px;
                        }
                    }
                }
                .more{
                    font-size: 18px;
                }
            }
        }
    
    }
}



@media  (min-width:1200px) {
    #music{
        .info{
            .container{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 32px;
                .image{
                   width: 260px;
                   margin-right: 0;
                }
                .text{
                    display: flex;
                    align-items: center;
                    margin-bottom: 0;
                    min-height: fit-content
                }
            }
            .line-up{
                display: flex;
                flex-direction: column;
                margin-bottom: 50px;
                .lineup-head{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    margin-bottom: 30px;
                    .lineup-text{
                        font-size: 50px;
                    }
                    .decor1{
                        width: 200px;
                    }
                    .decor2{
                        width: 200px;
                    }
                }
                .djs{
                    width: 100%;
                    line-height: 1.6rem;
                    .more{
                        display: inline-block;
                        width: 100%;
                        text-align: right;
                    }
                }
            }
            .partners{
                margin-top: 32px;
                .links{
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                            justify-content: space-between;
                    -webkit-box-align: center;
                        -ms-flex-align: center;
                            align-items: center;
                    gap: 100px;
                    a{
                        .icon{
                            padding: 10px;
                            width: 100px;
                        }
                    }
                }
                .more{
                    font-size: 18px;
                }
            }
        }
    
    }
}