#music{
    .video-wrapper{
        position: relative;
        margin-bottom: 6%;
        .decor{
            position: absolute;
            width: auto;
            height: 32%;
            bottom: -16%;
            right: 10%;
        }
    }
    .info{
        .container{
            margin: 16px 0;
            .image{
                width: 30vw;
                shape-outside: circle(50%);
                float: left;
                margin-right: 24px;
            }
            .text{
                min-height: 30vw;
                margin-bottom: 1vw;
            }
        }
        .line-up{
            display: flex;
            justify-content: space-between;
            .lineup-head{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 30vw;
                .lineup-text{
                    font-size: 16px;
                    font-weight:700;
                    margin: 4px 0;
                  
                }
                .decor1{
                    width: 60px;
                    transform: rotate(180deg);
                }
                .decor2{
                    width: 60px;
                }
            }
            .djs{
                font-weight: 500;
                text-transform: uppercase;
                width: 50vw;
            }
        }
        .partners{
            margin-top: 32px;
            .links{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                align-items: center;  
                gap: 10px;
                a{
                    img{
                        padding: 4px;
                        cursor: pointer;
                    }
                }
            }
            .more{
                text-align: right;
                font-size: 8px;
                font-style: italic;
                margin-top: 1vw;
                margin-bottom: 6%;
            }
        }
    }
}

@media  (min-width:901px) {
    #music{
        .info{
            .container{
                display: grid;
                grid-template-columns: 1fr 2fr;
                gap: 1vw;
                align-items: center;
                .image{
                    margin-right: 0;
                }
                .text{
                    display: flex;
                    align-items: center;
                }
            }
            .line-up{
                display: grid;
                grid-template-columns: 1fr 2fr;
                gap: 1vw;
                align-items: center;
                .lineup-head{
                    .lineup-text{
                        font-size: 50px;
                        max-width: 600px;
                    }
                    .decor1{
                        width: 220px;
                    }
                    .decor2{
                        width: 220px;
                    }
                }
                .djs{
                    width: 100%;
                }
            }
            .partners{
                margin-top: 32px;
                .links{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 36px;
                    a{
                        text-decoration: none;
                        color: white;
                        cursor: none;
                        font-size: 12px;
                        font-weight: 700;
                        margin: 0 6px;
                    }
                }
                .more{
                    font-size: 18px;
                }
            }
        }
    }
}

@media  (min-width:1201px) {
    #music{
        width: 1200px;
        margin: 0 auto;
        .info{
            .container{
                gap: 1vw;
                .image{
                    max-width: 400px;
                    margin-right: 0;
                }
                .text{
                   
                }
            }
            .line-up{

                gap: 1vw;
                .lineup-head{
                    max-width: 400px;
                    .lineup-text{
                        font-size: 50px;
                    }
                    .decor1{
                        width: 220px;
                    }
                    .decor2{
                        width: 220px;
                    }
                }
                .djs{
                    width: 100%;
                }
            }
            .partners{
                margin-top: 32px;
                .links{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 36px;
                    a{
                        text-decoration: none;
                        color: white;
                        cursor: none;
                        font-size: 12px;
                        font-weight: 700;
                        margin: 0 6px;
                    }
                }
                .more{
                    font-size: 18px;
                }
            }
        }
    
    }
}