<section id="music">
    <div class="video-wrapper" data-aos="fade-up">
        <img src="images/sections/music.png" alt="music image" id="music-img">
        <img src="images/decors/music.svg" alt="music image" class="decor">
    </div>
    <div class="info">
        <div data-aos="fade-up">
            <p class="title" >Djerba’s Beat, Your Heart’s Pulse</p>
            <p class="text">The music at RE:SET is a journey – one that mirrors the island’s energy, from the sun-soaked afternoons to the starry, rhythmic nights. Our soundscape weaves together groovy house beats, deep, hypnotic techno, and soulful minimal rhythms, all designed to carry you deeper into the moment.</p>
        </div>
        <div class="container" data-aos="fade-up">
            <img src="images/music.png" alt="Circular Image" class="image" >
            <p class="text" >
                By day, let the ambient waves and local sounds invite you to explore Djerba’s vibrant culture. By night, lose yourself in the energy of underground icons and visionary artists, each performance a celebration of creativity and connection.<br/><br/>It’s an invitation to breathe with the island, to feel its pulse, and to let the music guide your journey.            </p>
        </div>
        <div class="line-up" data-aos="fade-up">
            <div class="lineup-head">
                <img src="images/decors/lineup.svg" alt="decoration" class="decor1"  >
                <p class="lineup-text">LINE UP</p>
                <img src="images/decors/lineup.svg" alt="decoration" class="decor2">
            </div>
            <p class="djs text" >
                Frankey & Sandrino· Luca Olivotto· Eva Crystaltips· Quadrakey· Nephews· Siggatunez· Sarah Wild· Carmen Electro· Sam Shure· Skatman· Glia· BRTINZZ· Gil bert· Blackbox· Bianca Banks· Tofu und Acid· JSAVANT· Polytox· Illinios· Sarica· Leandro· Genji Yoshiba· Zare· Slevin Flakes· Love Operator· Toast Hawaii· Gonzalo Lavin· Zuleta M· Dash· Besch· Hanafia· Luke Lash· A FRIEND· Rio· Alex Grebe· DJ Sunburn· Dolo Desir· Mono Rome· Lukas & Lisa· Yassine Karoui· & Selim X Noor Arjoun<br/><br/>
                <span class="more"> …and more to be announced soon.</span>
            </p>
        </div>
        <div class="partners">
            <p class="title" data-aos="fade-up">OUR PARTNERS</p>
            <div class="links">
                <a href="https://www.instagram.com/salahbarka/?hl=en" target="_blank" data-aos="fade-up" >
                     <img class="icon" src="images/partners/m1.png" class="link-target">
                </a>
                <a href="https://www.instagram.com/lenavoutta/?hl=en" target="_blank" data-aos="fade-up" data-aos-duration="500" >
                     <img  class="icon"src="images/partners/m2.png" alt="" class="link-target">
                </a>
                <a href="https://www.instagram.com/vainver_official/" target="_blank" data-aos="fade-up" data-aos-duration="1500" >
                    <img class="icon" src="images/partners/m4.png" alt="" class="link-target">
                </a>
            </div>
            <p class="more" data-aos="fade-up"  data-aos-duration="2000">
                ..AND MANY MORE
            </p>
        </div>
    </div>
</section>