@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
$side-padding:40px;
$top-padding:24px;

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-size: 16px; 
    width: 100%; 
    max-width: 100%;
    overflow-x: hidden;
}

body{
    font-family: "Montserrat", serif;
    color:#fff;
    cursor:default;
    width: 100%; 
    max-width: 100%;
    overflow-x: hidden;
}

img {
    width: 100%; 
    height: auto;
    display: block;
}

.title{
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.text{
    font-size: 0.8rem;
    font-weight: 300;
    text-align: justify;
}

.info{
    padding: 24px 40px;
}


@media  (min-width: 600px) and (max-width: 1200px){
    html{
        font-size: 22px; 
    }
    .info{
        padding: 40px 60px;
    }
}



@media  (min-width: 1201px) and (max-width: 1919px){
    html{
        font-size: 24px; 
    }
    .info{
        padding: 60px 140px;
    }
}



@media  (min-width: 1920px){
    html{
        font-size: 50px; 
    }
}