@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
$side-padding:40px;
$top-padding:24px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-size: 18px; 
}

body{
    font-family: "Montserrat", serif;
    color:#fff;
    cursor:default;
}

img {
    width: 100%; 
    height: auto;
    display: block;
}

.title{
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 16px;
}

.text{
    font-size: 0.8rem;
    font-weight: 300;
    text-align: justify;
}

.info{
    padding: $top-padding $side-padding;
}


@media  (min-width: 600px) and (max-width: 900px){
    html{
        font-size: 22px; 
    }
}

@media  (min-width: 901px) and (max-width: 1200px){
    html{
        font-size: 26px; 
    }
}

@media  (min-width: 1201px) and (max-width: 1600px){
    html{
        font-size: 30px; 
    }
}

@media  (min-width: 1601px){
    html{
        font-size: 40px; 
    }
}
