#djerba{
    .gallery{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 6px;
        img{
            cursor: pointer;
        }
    }
  
    .image{
        position: absolute;
        width: auto;
        margin: 0 auto;
        .close{
            position: absolute;
            left: 16px;
            top:16px;
            fill:red;
            width:32px;
            cursor: pointer;
        }
    }
}

@media (min-width:1200px){
    #djerba{
        .gallery{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(5,1fr);
            gap: 6px;
            img{
                cursor: pointer;
            }
        }
    }
}