#experience{
    background-color: #557376;
    .info{
        position: relative;
        .block{
            margin-bottom: 24px;
            .djerba-images{
                width: 50%;
                max-width: 200px;
                float: right;
                margin-left: 8px;
            }
            .block1{
                display: flex;
                flex-direction: column;
                gap: 16px;
                .hotel-images{
                    width: auto;
                }
            }
        }
        .experience-decoration{
            display: flex;
            height: 10vh;
        }
      
    }
}
