#experience{
    max-width: 1920px;
    margin: 0 auto;
    .info{
        .connect-wrapper{
            width: 100%;
            margin-bottom: 32px;
            .connect-text{
                width: 100%;
                .djerba-images{
                    width: 60%;
                    float: right;
                    margin-left: 16px;
                }
            }    
        }
        .djerba-wrapper{
            margin-bottom: 32px;
        }
        .hotel-wrapper{
            width: 100%;
            margin-bottom: 20px;
            .hotel-text{
                width: 100%;
                .hotel-images{
                    width: 100%;
                    margin-top: 16px;
                }
            }
          
        }
        .experience-decoration{
            margin-top: 40px;
            height: 60px;
        }
    }
}

@media  (min-width:601px) {
    #experience{
        .info{
            .connect-wrapper{
                .connect-text{
                    .djerba-images{
                        width: 50%;
                    }
                }    
            }
            .hotel-wrapper{
                .hotel-text{
                    width: 100%;
                    display: flex;
                    .hotel-images{
                        width: 50%;
                        height: fit-content;
                        float: right;
                        margin-left: 16px;
                        margin-top: 0;
                    }
                }
              
            }
        }


    }
}

@media  (min-width:769px) {
    #experience{
        .info{
            .connect-wrapper{
                display: flex;
                flex-direction: column;
                 .connect-text{
                    width: 100%;
                    .djerba-images{
                        width: 40%;
                        margin-left: 40px;
                    }
                }    
            }
            .djerba-wrapper{
                margin-bottom: 60px;
            }
            .hotel-wrapper{
                width: 100%;
                margin-bottom: 60px;
                .hotel-text{
                    width: 100%;
                    display: flex;
                    .hotel-images{
                        width: 40%;
                        float: right;
                        margin-left: 40px;
                        margin-top: 0;
                    }
                }
              
            }
            .experience-decoration{
                height: 100px;
            }
        }
    }

}

@media  (min-width:1200px) {
    #experience{
        .info{
            .connect-wrapper{
      
                 .connect-text{
   
                    .djerba-images{
                        width: 40%;

                    }
                }    
            }
            .hotel-wrapper{
    
                .hotel-text{

                    .hotel-images{
                        width: 40%;
    
                    }
                }
              
            }
            .experience-decoration{
                margin: 50px 0;
                height: 150px;
            }
        }

    }
}
