<section id="experience">
    <img src="images/sections/experience.png" alt="experience image"  data-aos="fade-up" id="experience-img">
    <div class="info" data-aos="fade-up"> 
        <div class="connect-wrapper"> 
            <p class="title">Connect to Nature, Connect to culture</p>
            <div class="connect-text">   
                <div class="djerba-images" routerLink="/djerba">
                    <app-slider [images]="djerba" [slider]="true"></app-slider>
                </div> 
                <p  class="text">At RE:SET, we invite you to step beyond the music and into a world of creativity, self-discovery, and connection. Join talented facilitators - visionaries, curators, catalysts, and enablers - for interactive workshops that invite you to learn, explore, and collaborate.<br/><br/>   
                    Breathe deeply in yoga and mindfulness sessions that center you in the present moment. Unleash your creativity through painting, crafting, and shaping your ideas into reality. Discover the art of communication, consent, and intimacy in spaces designed to celebrate self-expression.<br/><br/>           
                    Dive into sensory journeys, immersive experiences, and activities that blur the line between reality and imagination. It’s an invitation to expand, feel, and transform. </p>  
            </div> 
        </div>
        <div class="djerba-wrapper" data-aos="fade-up">
            <p class="title">Djerba Island</p>
            <p class="text" >Djerba, Tunisia’s island gem, is a sun-kissed paradise in the Mediterranean. With its golden beaches, whitewashed villages, and swaying palm trees, it feels like a dream frozen in time. The island blends rich history with vibrant culture—wander through the colorful markets of Houmt Souk, explore ancient Berber villages, or marvel at the centuries-old El Ghriba Synagogue. Djerba’s serene coastline, warm hospitality, and delicious seafood make it a perfect escape for those seeking both relaxation and adventure. Whether you’re drawn by its mythic past or tranquil charm, Djerba is a place that lingers in your heart long after you leave.</p>
        </div>
        <div class="hotel-wrapper" data-aos="fade-up">
            <p class="title">Hotel Yadis Djerba</p>
            <div class="hotel-text">
                <p  class="text">During the festival, you’ll stay at Yadis Djerba Thalasso & Golf, a 5-star beachfront hotel. It features two pools, a spa, and direct access to the Thalassotherapy center. Enjoy diverse dining, a Moorish café, and elegant bars—perfect for relaxation and comfort.</p>
                <div class="hotel-images" >
                    <app-slider [images]="hotel"></app-slider>
                </div>
            </div>             
       
        </div>
        <img class="experience-decoration" src="images/decors/hotel.svg" alt="">
    </div>
</section>

